h1{
	text-align:center;
	font-size: 400%;
	color: #C71585;
}
body{
	background-image: url("../images/background.jpg");
	background-size: 100%;
	margin:0;
}	
th, td
{
		border: 1px solid black;
		padding: 15px;
		text-align:center;
		font-size: 150%;
		font-family: "lucida console", monospace, red serifs; 
}
td{
	font-style: italic;
}
th{
	font-weight: bold;
}
tr:hover 
{ 
	background-color: #C71585;
}
#menu ul
{
  list-style-type: none;
  margin:0;
  padding:0;
  width:20%;
  background-color:	#C71585;
  font-family: "Impact",Charcoal,sans-serif;
  font-size: 200%;
  height:100%;
  position: fixed;
  overflow:auto;
}
#menu ul li a
{
	display: block;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}
#menu ul li a:hover
{
	background-color: #f1f1f1;
	color: #00BFFF;
}
#menu ul li a.active
{
	background-color : black;
	color: white;
}
div{
	margin-left: 20%;
	padding: 10px 20px;
	height: 1000px;	
}




